<!-- index_calculator.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>

<body>
    <div class="hero">
        <nav><img src="{{ url_for('static', filename='images/Ari.png') }}" class="logo1">

            <ul style="padding-bottom: 60px;">
                <li><a href="/">Back to Home</a></li>
                <li><a href="/csv">Insert CSV File</a></li>


            </ul>
        </nav>

        <div class="container">
            <center>
                <div class="card" data-tilt>
                    <img src="https://cdn.pixabay.com/animation/2023/06/13/15/13/15-13-13-522_512.gif">
                    <h2 style="color:whitesmoke">Digits-Unveiled<br> Compose Your Numbers, Conduct Your Insights!</h2>
                    <br><br />
                    <b>
                        <p style="color:rgb(249, 251, 246); font-family: 'Times New Roman', Times, serif; ">Enter your
                            data in comma-separated format:</p>
                    </b>
                    <form action="/display" method="post">
                        <input type="text" name="data" placeholder="Enter your data" required
                            style="width: 200px; height: 30px;">
                        <br><br>
                        <div style="display: inline-block; text-align: left; margin-right: 20px;">
                            <label for="train_percentage"
                                style="font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 18px;">Training
                                Percentage</label>
                            <input type="number" name="train_percentage" id="train_percentage" step="0.01" min="0.01"
                                max="0.99" value="0.7"
                                style="font-family: 'Times New Roman', Times, serif;font-size: 18px;" required>
                        </div>

                        <div style="display: inline-block; text-align: left;">
                            <label for="test_percentage"
                                style="font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 18px;">Testing
                                Percentage</label>
                            <input type="number" name="test_percentage" id="test_percentage" step="0.01" min="0.01"
                                max="0.99" value="0.3"
                                style="font-family: 'Times New Roman', Times, serif;font-size: 18px;" required>
                        </div><br><br>
                        <b><button
                                style="background: linear-gradient(45deg,#32a3c2,#643cab,#041167); color: white; font-family: 'Times New Roman', Times, serif;"
                                class="btn" type="submit">Calculate</button></b>
                    </form>
                </div>
            </center>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='vanilla-tilt.js') }}"></script>
    <script>
        VanillaTilt.init(document.querySelector(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 0.5,
        });
    </script>

</body>

</html>